<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询产品窗口</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <style type="text/css">

    </style>
</head>
<body>

    <div class="layui-fluid background_color_black " style="width: auto;height: 500px">
        常规布局（以中型屏幕桌面为例）：
        <div class="layui-row">
            <div class="layui-col-md4 layui-bg-black" >
                你的内容 4/14
            </div>
            <div class="layui-col-md4 background_color_red">
                你的内容 4/14
            </div>
            <div class="layui-col-md4 background_color_blue">
                你的内容 4/14
            </div>
            <button class="layui-icon layui-icon-404" style="background-color: #009688;width: 500px;height: 400px;"></button>
        </div>
        <div class="layui-row grid-demo background_color_red" style="width: auto;height: 200px">
            <div class="background_color_green layui-col-md4">

            </div>
        </div>
    </div>




















    <script src="../layui/layui.js"></script>
</body>
</html>